.stepperContainer {
  width: 100%;
  margin: 10px auto 6.5vh auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stepperActionButtons {
  display: flex !important;
  align-items: center !important;
  flex-direction: row !important;
  margin: 5px 0px 0px 0px !important;
  padding: 5px 30px !important;
}

.stepperActionButtons > button {
  margin: 0 !important;
  padding: 15px 30px !important;
  margin-left: 10px !important ;
  height: 3vh;
}

.stepButton {
  color: #3f51b5 !important;
}

.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
  color: #3f51b5 !important;
}
