.appBar {
  background-color: #3443eb !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.toolBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98vw;
  flex: 1;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 10px;
}

.navbarWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0px;
}

.redirectToLogin {
  color: white !important;
  text-decoration: none;
  font-weight: 500;
}
